.vertical-line { 
    border-left: 2px solid black; 
    height: 50px; 
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    }

    body{
        padding:20px 20px;
      }
      
      .results tr[visible='false'],
      .no-result{
        display:none;
      }
      
      .results tr[visible='true']{
        display:table-row;
      }
      
      .counter{
        padding:8px; 
        color:#ccc;
      }

      .form-control me-sm-2{
          border-left: 40px;
      }
